:root {
  --bg-color: #0f0f0f;
  --bg-color-light: #232d3f;
  --primary: #005b41;
  --secondary: #008170;
  --white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--white);
  font-family: "Outfit Variable", sans-serif;
}
