---
import {
  storyblokEditable,
  type SbBlokData,
  renderRichText
} from '@storyblok/astro'
import type { StoryblokRichTextNode } from '@storyblok/richtext'
interface Article {
  title: string
  date: string
  teaser: SbBlokData
  content: StoryblokRichTextNode
}
const { blok } = Astro.props as { blok: SbBlokData & Article }
---

<article {...storyblokEditable(blok)}>
  <div>
    <h1>
      {blok.title}
    </h1>
    <span class="publish-time">{blok.date}</span>
    <div set:html={renderRichText(blok.content)} />
  </div>
</article>
<style>
  h1 {
    margin-bottom: 0;
  }
  .publish-time {
    font-size: 0.75rem;
    margin-top: 0.25rem;
    color: var(--gray);
  }
</style>
