---
import { storyblokEditable, type SbBlokData, type ISbRichtext } from '@storyblok/astro'
import RichTextRenderer from '@storyblok/astro/RichTextRenderer.astro';
interface Article {
  title: string;
  date: string;
  teaser: SbBlokData
  content: ISbRichtext
}
const { blok }  = Astro.props as { blok: SbBlokData & Article }
---

<article {...storyblokEditable(blok)}>
  <div>
    <h1>
      {blok.title}
    </h1>
    <span class="publish-time">{blok.date}</span>
    <RichTextRenderer richTextData={blok.content}/>
  </div>
</article>
<style>
  h1 {
    margin-bottom: 0;
  }
  .publish-time {
    font-size: 0.75rem;
    margin-top: 0.25rem;
    color: var(--gray);
  }
</style>