---

---

<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/articles">Posts</a>
    </li>
  </ul>
</nav>
<style>
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-block: 0.5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  a {
    text-decoration: none;
    color: inherit;
    transition: all var(--state-transition);
    &:hover,
    &:focus-visible {
      box-shadow: inset 0 -2px currentColor;
    }
  }
</style>
